
body{
    font-family: 'Baloo 2', cursive;
}


form fieldset {
    margin: 10px auto 10px auto;
    width: 40%;
    border: solid black 1px;
    padding: 3%;
    border-radius: 25px;
 }
 
 form legend {
    padding: 10px;
    margin: 10px 0px;
    border: solid black 1px;
    font-size: 90%;
    font-weight: bold;
    background-color: #ffffff;
    width: 75%;
    text-align: center;
 }
 
 form label {
    display: block;
    font-size: 20px;
 }
 
 form input {
    width: 100%;
    border: solid #ccc 1px;
    font-size: 11px;
    margin-bottom: 10px;
    height: 20px;
 }
 
 form input.botao {  
    display:block;
    width: auto;
    background-color: rgb(56, 243, 165);
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    font-size: 10pt;
 }